*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    background-color: rgb(219, 235, 235);
    font-family: 'Young Serif', serif;
}

.main-container {
    margin: auto;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border: none;
}

.banner-img {
    max-width: 100%;
}

.title,
.subtitle,
.details {
    margin: 5px 10px;
}

.details {
    font-size: x-small;
}

#menu-container {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    background-color: white;
}

p {
    margin-top: 5px;
    margin-bottom: 5px;
}

.cookie-container {
    max-width: 100%;
    padding: 20px 10px;
    display: flex;
    align-items: center;
    gap: 5.5rem;
    cursor: pointer;
}

.cookie-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #D2D2D2;
    flex-shrink: 0;
}

.price-info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: none;
}

.select-btn {
    border-radius: 50%;
    padding: 6px;
    border: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
    flex-shrink: 0;
    background-color: white;
    border: 1px solid #D2D2D2;
}

.cookie-name,
.price {
    font-size: small;
}

.ingredients {
    font-size: xx-small;
    color: #8B8B8B;
}

.divider-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
}

.divider {
    width: 275px;
    border-top: 1px solid #D2D2D2;
}

/* Selected States */

.cookie-container:hover p {
    text-shadow: 0px 2px 1px #b8b4b4;
}
.cookie-container:hover > button {
    box-shadow: 0px 2px 1px 1px #b8b4b4;
}
.cookie-container:hover > .cookie-img {
    box-shadow: 0px 2px 1px 1px #b8b4b4;
}

/*.divider:hover {
    box-shadow: 0px 1px 1px 1px #b8b4b4;
} /*